* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background-color: #0020f4;
  height: 290px;
}
.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  width: 15%;
  float: left;
  padding-top: 15px;
}
.logo img {
  width: 115px;
}
.navigation {
  width: 85%;
  vertical-align: top;
  float: right;
}
.navigation ul {
  float: right;
}
.navigation li {
  display: inline-block;
  padding: 40px 15px 40px 15px;
}
.navigation li a {
  color: #fff;
}
.slider {
  width: 100% !important;
  margin-top: -150px;
}
h1 {
  margin: 30px 0px 60px 0px;
}
.article h1 {
	font-family: "ALK Tall Mtavruli", sans-serif
  font-size: 28px;
}
.article img {
  width: 19%;
  display: inline-block;
}
.more_info {
  width: 300px;
  background: blue;
  border-radius: 15px;
  padding: 15px 30px 15px 30px;
  color: #fff;
  margin-top: 55px;
}

section p {
  font-family: "BPG DedaEna Nonblock", sans-serif;
  font-size: 16px;
}
